
.p {
    /* display: flex; */
    height: 100vh;
    margin-top: -3rem;
}

.p-wrapper {
    padding: 130px;
    height: 100%;
    /* width: 58%; */
}

.p-projects-title {
    font-weight: 300;
    color: rgba(97, 65, 36, 0.3);
}

.p-projects-list {
    
    width: 100%;
    display: grid;
}

.p-card {
    margin: 20px;
    padding: 10px;
}

.p-card-title {
    font-size: 24px;
    font-weight: 600;
}

.c-soon {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    opacity: 30%;
}

/* Responsive */

/* Mobile */
@media screen and (max-width : 480px) {
    .p-wrapper {
        padding: 10px;
    }

    .p-projects-title {
        text-align: left;
        justify-content: center;
    }

    .p-card-title {
        text-align: left;
    }

    .c-soon {
        font-size: 20px;
        text-align: left;
    }
    
}