.a-desc {
    display: flex;
    height: 80vh;
    margin-top: -3rem;
}

.a-desc-right {
    flex: 1;

}

.a-desc-left {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    /* justify-content: center; */
}

.a-desc-left-wrapper {
    /* padding: 130px; */
    margin-left: 8rem;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.a-bio-title {
    font-weight: 300;
    color: rgba(97, 65, 36, 0.3);
}

.a-bio-short {
    width: 90%;
    font-size: 23px;
    /* letter-spacing: .1rem; */
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 30pt;
}

.cv-btn {
    width: 100%;
}

@media screen and (max-width:480px) {
    .a-desc {
        flex-direction: column;
        text-align: center;
    }

    .a-left {
        width: 100%;
        height: 100%;
    }

    .a-right {
        flex: 0;
    }

    .a-desc-left-wrapper {
        margin-top: 15rem;
        margin-left: 1rem;
    }

    .a-bio-title {
        text-align: center;
    }

    .a-left-wrapper {
        /* margin-top: 15rem; */
    }

    .a-bio-short {
        width: 100%;
        font-size: 16px;
        text-align: center;
        justify-content: center;
    }

    .cv-btn {
        align-self: center;
    }
}
