.a-desc {
    height: 80vh;
    margin-top: 10rem;
    margin-bottom: -5rem;
}


.a-desc-left {
    /* display: flex; */
    align-items: center;
    height: 100%;
    /* justify-content: center; */
}

.a-desc-left-wrapper {
    /* padding: 130px; */
    margin-left: 8rem;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.a-bio-title {
    font-weight: 300;
    color: rgba(97, 65, 36, 0.3);
}

.a-bio-short {
    width: 90%;
    font-size: 23px;
    /* letter-spacing: .1rem; */
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 30pt;
}

.cv-btn {
    width: 100%;
}

@media screen and (max-width:480px) {
   
    .a-desc {
        margin-left: -7rem;
        /* padding: 10px; */
        /* width: 100%; */
        /* height: 100%; */
    }
    .a-desc-left-wrapper {
        margin-top: 15rem;
        /* margin-bottom: 5rem; */
        /* margin-left: 1rem; */
    }

    .a-bio-title {
        text-align: left;
    }


    .a-bio-short {
        width: 290px;
        /* height: 30%; */
        font-size: 18px;
        text-align: left;
        justify-content: left;
        line-height: 25pt;
    }

    .cv-btn {
        margin-top: 1rem;
        align-self: left;
    }
}
