.t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  /* max-width: 1240px; */
  width: 100vw;
  margin: auto;
}

.me-auto {
  /* margin-left:auto!important; */
}

.brand {
  font-size: 25px !important;
  font-weight: 500;
}




