
.t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  /* max-width: 1240px; */
  width: 100vw;
  margin: auto;
}

.navbar-nav {
  flex-direction: row!important;
}


.brand {
  font-size: 25px !important;
  font-weight: 600;
}

@media screen and (max-width : 480px) {
  
  .brand {
    font-size: 16px!important;
  }

}




